body {
    background-color: #404040;
}

#titlebar {
    overflow: hidden;
    background-color: #333;
}

#titlebar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#titlebar a:hover {
    background-color: dimgray;
    color: black;
}

#games {
    background-color: #303030;
    color: azure;
    font-size: 50px;

    display: flex;
}

#games button {
    background-color: #303030;
    color: azure;
    font-size: 25px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 250px;
    height: 250px;
}

#games button img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;

    width: 100px;
    height: 100px;
}